/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0; 
    background: linear-gradient(135deg, #0f172a, #1e293b);
    padding: 0;
} 

app-root {
    display: block;
    height: 100%;
}